{% extends 'base.html.twig' %}

{% block title %}La fiche de l'article n°{{article.id}}{% endblock %}

{% block body %}
<div class="container m-5">
    <div class="example-wrapper">
        <h1>Fiche de l'article n°{{article.id}}</h1>
        <div class="card mb-3">
            <h3 class="card-header">{{article.libelle}}</h3>
            <img style="height: 200px; width: 100%; display: block;" src="{{article.image}}" alt="Card image">
            <div class="card-body">
                <p class="card-text">{{article.description}}</p>
                <p{{article.prix}}€</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}